# Data
/data/
dream_catalyst_ns.egg-info/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.egg-info/
*.egg
dist/
build/
eggs/
.mypy_cache/
.pytest_cache/

# Outputs / checkpoints
outputs/
exports/

# Other files
*.pdf
*.out

# OS / editor
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# CUDA / C++ build artifacts
*.so
*.o
*.a
*.dylib

# env
envs/
